* {
  box-sizing: border-box;
  word-break: keep-all;
}

a {
  color: #000;
  /* 부모 엘리먼트의 색상을 상속합니다 */
  text-decoration: none;
  /* 밑줄을 제거합니다 */
}

/* Link가 마우스 위로 올라갔을 때 스타일을 설정합니다 */
a:hover {
  color: #FFF;
  /* 오버시 더 진한 색상으로 변경 */
  text-decoration: underline;
  /* 밑줄을 추가합니다 */
}

body {
  background-color: #1e1e1e;
  /* 어두운 배경색 */
  color: #fff;
  /* 텍스트 색상 */
  font-family: Arial, sans-serif;
  /* 원하시는 폰트로 변경 가능 */
  margin: 0;
  padding: 0;
}

.MainWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 20px;
  /* 여백 추가 */
}

.Title {
  font-size: 24px;
  text-align: left;
  width: 100%;
  padding-left: 20px;
  margin-top: 20px;
}

.Items_Wrap {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.Item {
  font-size: 20px;
  text-align: left;
  width: 80%;
  margin-top: 20px;
  border: 1px solid #444;
  /* 더 어두운 테두리 색상 */
  border-radius: 20px;
  padding: 20px;
  background-color: #333;
  /* 더 어두운 배경색 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* 약간의 그림자 추가 */
  display: flex;
  flex-direction: column;
}

.WithBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ItemTitle {
  background: #444;
  /* 더 어두운 타이틀 배경색 */
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
}

.defBtn {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #444;
  /* 더 어두운 버튼 배경색 */
  border: 2px solid #fff;
  /* 더 밝은 테두리 색상 */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
}

.defBtn:hover {
  background: #222;
  /* 더 어두운 버튼 배경색 */
}

.thx {
  font-size: 20px;
  text-align: left;
  width: 100%;
  padding-left: 20px;
  font-weight: normal;
  margin-top: 20px;
}

/* 넷플릭스 CSS */
.NetFlixWrap {
  display: flex;
  justify-content: center;
}

.NetFlixWrap .NF-Img {
  position: relative;
  width: 100%;
}

.NetFlixWrap .NF-Background {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 80vh;

}

.NetFlixWrap .NF-Shade {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%);

}

.NetFlixWrap .NF-Shade .NF-Inner {
  text-align: center;
  color: #fff;
  margin-top: 30px;
  align-items: center;
  height: 20rem;
}

.NetFlixWrap .NF-Shade .NF-SubInner1 {
  max-width: 90%;
  margin-top: 10px;
  font-size: 2em;
  font-weight: 600;
  margin: auto;

}

.NetFlixWrap .NF-Shade .NF-SubInner {
  margin-top: 10px;
  margin: auto;
  margin-top: 20px;
  max-width: 80%;
  font-size: 1.1em;
}

.NetFlixWrap .NF-Shade .NF-SubInner .Email-Addr {
  width: 100%;
  padding: 1.25rem 1rem 0.25rem 1rem;
  background: rgba(0, 0, 0, 0.7);
  line-height: 1.5rem;
  min-height: 16px;
  font-size: 1rem;
  z-index: 999;
  color: #fff;
  border-radius: 3px;
}

.NetFlixWrap .NF-Shade .NF-SubInner .input-wrapper {
  position: relative;
  margin-top: 30px;
}

.NetFlixWrap .NF-Shade .NF-SubInner .Email-Addr {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.NetFlixWrap .NF-Shade .NF-SubInner .floating-label {
  position: absolute;
  left: 10px;
  bottom: 25%;
  color: grey;
  pointer-events: none;
  /* 라벨을 클릭할 수 없게 함 */
  transition: all 0.3s;
}

/* input이 포커스되거나 내용이 있을 때 라벨을 위로 올림 */
.NetFlixWrap .NF-Shade .NF-SubInner .Email-Addr:focus+.floating-label,
.Email-Addr:not(:placeholder-shown)+.floating-label {
  transform: translateY(-20px);
  font-size: .8rem;
  margin-top: 20px;
  border: #fff;
}

.NF-Start {
  height: 3rem;
  width: 8rem;
  background: #C11119;
  color: white;
  border-radius: 4px;
  border: none;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 1.2rem;
}

.NetFlixWrap .NF-BackgroundImage {
  width: 100vw;
  height: 80vh;
  display: block;
  min-height: 30rem;
}


.NetFlixWrap .NF-Header {
  margin: auto;
  max-width: calc(100% - 3rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: static;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
  height: 5rem;
}

.NetFlixWrap .NF-Title {
  max-width: 100px;
}

.NetFlixWrap .NF-Header div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NetFlixWrap .NF-Lan-Select {
  height: 32px;
  width: 6rem;
  background: transparent;
  border: 1px solid #dbdbdb;
  color: #fff;
  border-radius: 3px;
  margin: 0 5px 0 0;
}

.NetFlixWrap .NF-Login {
  height: 32px;
  width: 4.5rem;
  background: #E50914;
  color: white;
  border-radius: 4px;
  border: none;
  margin-left: 10px;
}

.NetFlixWrap .NF-Login:hover {
  background: rgb(193, 17, 25)
}

.NetFlixWrap .NF-About-Wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(120.35% 220% at 49.86% -6.29%, #e50914 0%, #0e1b4f 46.15%, #0d1121 100%);
  height: 13rem;
  margin: 16px 24px 0px;
  padding: 30px;
}

.NetFlixWrap .NF-About-Wrap .NF-About {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.NetFlixWrap .NF-About-Wrap .NF-About span {
  text-align: left;
  font-size: 1.3rem;
}

.NetFlixWrap .NF-About-Wrap .NF-About span:nth-child(n+2) {
  font-size: 1rem;
}

.NetFlixWrap .NF-About-Wrap .NF-About span:nth-child(2) {
  margin: 4px 0px 8px;
}


.NF-DefWrap {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #000;
}

.NF-DefWrap h2 {
  font-size: 2rem;
  text-align: center;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.NF-DefWrap span {
  max-width: calc(100% - 3rem);
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1rem;
}

.NF-Img div:nth-child(2) {
  padding: 0;
}
.NF-Img div:nth-child(n+4) {
  margin-top: 8px;
}

.NF-Gap {
  width: 100%;
  height: 0.5rem;
}


.TV-Wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(100% - 3rem);
}

.NF-TV-Img {
  overflow: clip;
  max-width: calc(100% - 3rem);
  z-index: 2;
  display: flex;
  margin: auto;
}

.NF-TV-Container {
  position: absolute;
  z-index: 1;
  margin: auto;
  max-width: calc(100% - 6rem);
  display: flex;
  top: 20%;
}